html, body, .container {
  width: 100%;
  height: 100%;
}

div {
  margin-top: 10px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 540px;
}

span {
  display: inline-block;
  width: 1.5rem;
  text-align: center;
  font-weight: 700;
  border-radius: 3px;
}

span.red {
  background-color: #ff0000;
}

span.green {
  background-color: #00ff00;
}

span.blue {
  background-color: #0000ff;
  color: #ffffff;
}

span#red-value, span#green-value, span#blue-value{
  width: 3.5rem;
}

#result {
  font-size: 3rem;
  font-weight: bolder;
  width: 289px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 20px;
  outline : none;
  background: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #696969;
  margin-top: -3px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
}

input[type="range"]:active::-webkit-slider-thumb{
  width: 20px;
  height: 20px;
  margin-top: -7px;
  transition: .3s;
}