<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trash Talk Generator</title>
  <link rel="stylesheet" href="/fontawesome-free-5.10.2-web/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <!-- navigation -->
  <nav class="navbar navbar-dark bg-secondary">
    <a href="/" class="navbar-brand">
      <h2 class="menu">幹話產生器</h2>
    </a>
  </nav>

  <!-- main content -->
  <main>
    {{{body}}}
  </main>

  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>