<p>*必填欄位</p>
<h4>請輸入你的支出</h4>
<form action="/records" method="POST">
  <label for="name">名稱*:</label>
  <input type="text" name="name" id="name">

  <label for="date">日期*:</label>
  <input type="date" name="date" id="date">

  <label for="category">類別*:</label>
  <input type="text" name="category" id="category">

  <label for="amount">金額*:</label>
  <input type="text" name="amount" id="amount">

  <button type="submit">新增支出</button>
</form>