/************* main *************/
/* body */
.table td, .table th {
  border-top: none;
}

.table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.restaurants_action {
  margin-bottom: 1rem;
}

/* user */
#user-info {
  border: 1px solid black;
  padding: 20px;
}

/************* RWD *************/
@media screen and (max-width: 992px) {
  header {
    margin-bottom: 2rem ;
  }
}

@media screen and (max-width: 574px) {
  header {
    margin-bottom: 3rem ;
  }
}

@media screen and (max-width: 484px) {
  header {
    margin-bottom: 4rem ;
  }
}