<div class="d-flex" id="user-info">
  <div class="user_img">
    <img src="{{user.image}}" alt="avatar" width="300px">
  </div>

  <div class="user_content ml-3">
    <h5>{{user.name}}</h5>
    <p>{{user.email}}</p>
    <a href="/users/{{user.id}}/edit">
      <button type="button" class="btn btn-primary">Edit</button></a>
  </div>
</div>